@use "../setup/variables";

.content {
    width: 100%;
    height: 100vh;
    position: relative;

    &__inner {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        position: relative;
        min-height: 100vh;
        width: 100%;
        text-align: center;
    }

    &--intro {
        will-change: transform;
        height: 200vh;
        z-index: 100;

        &:before {
            background: variables.$color-bg;
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            height: 100vh;
            z-index: -2;
        }
    }

    &--intro &__inner {
        background: rgba(variables.$color-bg, .4);
    }

    &--fixed {
        background: url(/img/bg2.jpg) no-repeat center center / cover variables.$color-bg2;
        position: fixed;
        top: 0;
        left: 0;
        overflow: auto;

        &:before {
            background: rgba(variables.$color-black, .6);
            backdrop-filter: blur(1rem);
            content: "";
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: -3;
        }
    }

    &--fixed &__inner {
        max-width: 117rem;
        margin: 0 auto;
        padding: 2rem;
        position: relative;
        text-align: left;
        z-index: 1;

        @media (max-width: variables.$screen-sm - 1) {
            display: block;
            overflow: auto;
        }

        small {
            font-size: 60%;
        }

        ul {
            padding-left: 2rem;
        }
    }
}