@use "../setup/variables";

footer {
	text-align: center;
	position: absolute;
	bottom: 10px;
	left: 0;
	width: 100%;
	padding: 20px;

	@media (max-width: variables.$screen-sm - 1) {
		position: static;
	}

	small {
		display: block;
		margin-bottom: 20px;
	}
}